.main-content {
    display: flex;
    flex-direction: row; 
    align-items: stretch;
    top: 0px;
    height: 90%;
}

.main-left {
    flex: 1;
    background-color: rgb(254, 200, 154);
    padding-top: 250px;
    padding-left: 60px;
    padding-right: 60px;
}

.main-right {
    flex: 1;
    background-color: rgb(254, 200, 154);
    padding-left: 60px;
    padding-right: 60px;
}

.hometown, .hobbies, .more {
    display: flex;
    flex-direction: row;
    height: 30%;
}

.hometown-left, .hobbies-left, .more-left {
    flex: 1;
}

.hometown-right, .hobbies-right, .more-right {
    flex: 1;
}

.center-heading {
    text-align: center;
    margin-bottom: 40px;
}